.GroupTitle {
    background-image: url(../../../../images/box_bg4.png);
    background-repeat: repeat-x;
    color: #383C3D;
    font-size: 12px;
    padding: 0 0 0 20px;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #C2D3D8;
    border-top: 1px solid #C2D3D8;
    margin-bottom: 15px;
}
.ConfigOperateDiv {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    line-height: 38px;
}
.saveButton {
    margin-right: 10px;
}
