.Main {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* background: url(../images/login-bg.png) no-repeat center; */
  background: pink;
  background-size: cover;
}
.content {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  border: 6px solid white;
  height: calc(100% - 70px);
}