
.Login {
  /* position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: url(./images/login-bg.png) no-repeat center;
  background-size: cover; */
}
.bgDiv {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-left: -165px;
  margin-top: -270px;
  width: 318px;
  height: 489px;
  text-align: center;
  padding: 0;
}
.logoImg{
  width: 318px;
  height: 81px;
  /* background: url(./images/smc-logo.jpg)  no-repeat center bottom; */
}
